$grey: #333;
$white: #efefef;

body,
html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    @include rem(margin, 2rem 0 2rem);
}

.alpha {
    @include rem(margin, 0 0 1.5rem);
    @include rem(font-size, 2rem);
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
    padding-top: 3em;
}

.light {
    color: $grey;
}

.dark {
    color: $white;
}

.row {
    display: block;
    margin: 0 0 1em;
}

// input[type=range]
// {
//     height: 8px;
//     width: 100px;
//     padding: 0 5px;
// }

input[type="number"] {
    display: inline-block;
}

// hex output
.colour {
    @include rem(font-size, 3rem);
    @include border-radius(3px);
    max-width: 500px;
    margin: auto;
    text-align: center;

    .dark & {
        &:focus {
            border: 1px solid $grey;
            background: $white;
            color: $grey;
        }
    }

    .light & {
        &:focus {
            border: 1px solid $white;
            background: $grey;
            color: $white;
        }
    }
}
