$grey: #333;
$white: #efefef;

body,
html {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    @include rem(margin, 2rem 0 2rem);
}

.alpha {
    @include rem(margin, 3rem 0 1.5rem);
    @include rem(font-size, 2rem);
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 1;
}

.light {
    color: $grey;
}

.dark {
    color: $white;
}

.row {
    display: block;
    margin: 0 0 1em;

    @media only screen and (min-width: 500px) {
        max-width: 500px;
        margin: 0 auto 1em;
    }
}

#convert {
    @include border-radius(3px);
    @include rem(font-size, 1.2rem);
    @include rem(margin, 1rem auto);
    padding: 8px 16px;
    background: #2dac36;
    border: 1px solid $white;
    color: $grey;

    &:hover {
        background: lighten(#2dac36, 10%);
    }
}

input[type="number"] {
    @include rem(margin-left, 0.5rem);
    display: inline-block;
}

label {
    @include rem(margin-right, 0.5rem);
    display: inline-block;
    width: 50px;
    text-align: right;
}

// hex output
.colour {
    @include rem(font-size, 3rem);
    @include border-radius(3px);
    max-width: 500px;
    margin: auto;
    text-align: center;

    .dark & {
        &:focus {
            border: 1px solid $grey;
            background: $white;
            color: $grey;
        }
    }

    .light & {
        &:focus {
            border: 1px solid $white;
            background: $grey;
            color: $white;
        }
    }
}
